@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-size per avere 1rem = 10px */
:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem; /* Riporta a 16px il testo */
}

h1 {
  font-size: 7.5rem;
}

.center-flex {
  @apply flex items-center justify-center;
}

.icon-movie {
  @apply border-[3px] border-gray-500 rounded-full h-16 w-16
}

.small-text-gray {
  @apply text-[13px] text-gray-400 font-bold
}

.movie-tabs {
  @apply text-white text-[14px] tracking-widest 
}

.tab {
  @apply w-full h-[3px] absolute bottom-0 left-0 mt-2
}

.active-tab {
  @apply w-full bg-green-600 rounded-t-xl z-50 mt-2
}